
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: roboto;
    
}
.admin-interface {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
 
  .sidebar {
    width: 250px;
    background-color:#FFF;
    color: black;
    padding: 20px;
    transition: width 0.3s ease;
  }
  
  .sidebar.closed {
    width: 60px;
  }
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar-header img{
  width: 150px;
  height: 100px;
  }
  .sidebar-menu {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    margin: 20px 0;
  }
  
  .sidebar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    gap: 30px;
  }
  
  .sidebar-menu li a:hover {
    color: #009444;
  }
  
  .toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
  
  .main-content {
    flex-grow: 1;
    background-color:#F9FAFC;
    padding: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    color: black;
  }
  .navbar-links{
    display: flex;
    gap: 30px;
  }
  .navbar-links a {
    color: black;
    margin-left: 15px;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  .navbar-links img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
  }
  
  .content {
    margin-top: 20px;
  }
  .sidebar-menu{
    display: block;
    flex-direction: column;
  }
  .admin-interface {
    display: flex;
  }
  
  .sidebar {
    width: 250px; 
    transition: width 0.3s; 
  }
  
  .sidebar.closed {
    width: 60px; 
  }
  
  .main-content {
    flex: 1; 
    padding: 20px; 
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar h1 span{
    color: #E29B34;
    font-size: 30px;
    font-weight: bold;
  }
  .navbar h1{
    margin-bottom: 20px; 
    color: #0000;
    font-size: 35px;
    font-weight: bold;
  }
  .navbar p{
    font-size: 14px;
    color: #666666;
  }
  .page-content {
    margin-top: 20px;
  }
  
.logout-btn {
  background:none;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.logout-btn:hover {
  background:none;
}
.main-content .navbar h1{
  color: black;
}
