/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    height: 100px;
    padding: 0 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: relative;
}

.logo img {
    width: 150px;
    height: 100px;
}

.nav ul {
    display: flex;
    list-style-type: none;
}

.nav ul li {
    margin: 0 1rem;
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5rem;
    transition: color 0.3s;
    list-style: none;
}

.nav ul li a:hover, ul li a.active {
    color: #009444;
}

.nav .button {
    background-color: #009444;
    border: none;
    border-radius: 100px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

.nav .button:hover {
    background-color: #FFF;
    border: 2px solid #009444;
}

.nav .connexion {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.connexion:hover {
    color: #009444;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px;
    transition: all 0.3s ease;
}

.burger.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.toggle .line2 {
    opacity: 0;
}

.burger.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.cart {
    position: relative;
    margin-right: 15px;
}

.panier-icon {
    color: #000;
    text-decoration: none;
    position: relative;
}

.panier-count {
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -10px;
    right: -10px;
}

.logged-in-options {
    display: flex;
    align-items: center;
}

.profil-link {
    margin-right: 15px;
    text-decoration: none;
    color: #000;
}

.logout {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 100px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.actionButtonLogin_Logout {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media (max-width: 768px) {
   
    .nav ul {
        display: none; 
    }

    
    .nav ul.show, 
    .actionButtonLogin_Logout.show {
        display: flex; 
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFF;
        z-index: 10;
    }

    
    .nav ul.show {
        flex-direction: column; 
        align-items: center;
        top: 100px; 
    }

    .nav ul li {
        margin: 1rem 0;
    }

   
    .actionButtonLogin_Logout {
        display: none; 
    }

    .actionButtonLogin_Logout.show {
        display: block;
        text-align: center;
        margin-top: 20px;
        padding: 20px 0;
        background-color: #FFF; 
    }

    /* Burger Menu */
    .burger {
        display: flex; 
        cursor: pointer;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 20;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 4px;
        transition: all 0.3s ease;
    }

  
    .burger.toggle div:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .burger.toggle div:nth-child(2) {
        opacity: 0;
    }

    .burger.toggle div:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -5px);
    }
}



