/* Article.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: roboto;
    
}

.cardEvenement{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    padding: 20px;
    width: 80%;
   margin: auto;
   background-color: #FFFF;
}
.bannerEvenement{
    background-image: url('/src/assets/images/motiftop.png');
    background-size: cover; 
    background-position: center; 
    height: 60vh;
    width: 100%; 
}
.cardBanner{
    width: 1278px;
    height: 506px;
    background-color: #FFFF;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin:20px auto;
}
.cardBanner h1{
    font-size: 20px;
    width: 472px;
    margin: 10% auto;
}
.cardBanner p{
    width: 552px;
}
.ElementEvenement h2{
text-align: center;
margin: 30px auto;
color:#009444 ;
}

.cardEvenement {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
 
  .cartElement {
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    overflow: hidden;
    text-align: center;
  }
  
  .cartElement:hover {
    transform: translateY(-5px);
  }
  
  
  .cartElement img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }
  
  .cartElement h3 {
    font-size: 1.5em;
    margin: 15px 0;
    color: #009444;
  }
  
  .cartElement p {
    font-size: 1em;
    color: #666;
    padding: 0 15px;
    margin-bottom: 10px;
  }
  
  .cartElement .btn-lien {
    background-color:#FFFF;
    color: #009444;
    padding: 10px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    border: 2px solid #007b36;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  
  .cartElement .btn-lien:hover {
    background-color: #007b36;
    color: #ffff;
  }
  

  .cartElement div {
    padding: 15px;
  }
  @media (max-width: 768px) {
    .cardBanner h1 {
        font-size: 1.2rem;
    }

    .cardBanner p {
        font-size: 0.9rem;
    }

    .cardEvenement {
        width: 100%;
        padding: 10px;
        background:none;
    }
    .cardBanner{
      width:80%;
      background:none;
      display:block;
      height: auto;
      margin:20px auto;
  }

  .bannerEvenement{
    background:none;
    background-size: cover; 
    background-position: center; 
    height: auto;
    width: 50%; 
}

}

@media (max-width: 480px) {
    .cardBanner h1 {
        font-size: 1rem;
    }
    .EvenementImage img{
    display: none;
    }
    .cardBanner p {
        font-size: 0.8rem;
    }

    .ElementEvenement h2 {
        font-size: 1.2rem;
    }

    .cartElement h3 {
        font-size: 1.2rem;
    }

    .cartElement p {
        font-size: 0.9rem;
    }

    .btn-lien {
        font-size: 0.9rem;
        padding: 8px 15px;
    }
    .bannerEvenement{
      background:none;
      background-size: cover; 
      background-position: center; 
      height: auto;
      width: 50%; 
  }
  .EvenementImage img{
    width: 100px;
    height: auto;
  }
}